header {
	display: flex;
	align-items: center;
    transition: background 0.2s linear;
	height: 8vh;
}

.header-light {
	background: var(--bg-color-light);
}

.header-dark {
	background: var(--bg-color-dark);
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
    margin-bottom: 0px;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 16px;
	width: 40px;
	transform: scale(1.5);
}

.label-light {
	background-color: var(--bg-color-light);
}

.label-dark {
	background-color: var(--bg-color-dark);
}

.label .ball {
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.ball-light {
	background-color: var(--color-ball-light);
}

.ball-dark {
	background-color: var(--color-ball-dark);

}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

.toggle {
	display: flex;
	width: 40%;
	margin-left: 3vh;
}

.links {
	width: 60%;
	align-items: center;
	font-size: 2vh;
}

.links ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
}

.links li a{
	text-decoration: none;
}

.text-light {
	color: var(--color-text-light);
}

.text-dark {
	color: var(--color-text-dark)
}